config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/grycap/apricotlab:
      branch: main
      repo: https://github.com/grycap/apricotlab.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/grycap/apricotlab git:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-chestnut-dog.sh
        container: qc.acc_craggy-lime-bear
  QC.Doc:
    repos:
      github.com/grycap/apricotlab find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-purple-snail.sh
        container: qc.doc_wheezy-khaki-turkey
      github.com/grycap/apricotlab git:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-lavender-shark.sh
        container: qc.doc_shaggy-blue-chameleon
      github.com/grycap/apricotlab markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-khaki-spitz.sh
        container: qc.doc_wheezy-viridian-stoat
  QC.Lic:
    repos:
      github.com/grycap/apricotlab licensee:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-eggplant-bandicoot.sh
        container: qc.lic_lousy-mustard-jaguar
  QC.Met:
    repos:
      github.com/grycap/apricotlab validate_codemeta:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-tangerine-toucan.sh
        container: qc.met_scummy-indigo-maltese
  QC.Sec:
    repos:
      github.com/grycap/apricotlab bandit:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-vermilion-blue.sh
        container: qc.sec_woozy-gold-bullfrog
  QC.Sty:
    repos:
      github.com/grycap/apricotlab flake8:
        commands:
        - /usr/bin/env sh .sqa/script.randy-amaranth-abyssinian.sh
        container: qc.sty_lovely-pink-blue
      github.com/grycap/apricotlab hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-cinnabar-sponge.sh
        container: qc.sty_hilly-lemon-flamingo
      github.com/grycap/apricotlab jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-russet-hippopotamus.sh
        container: qc.sty_stinky-razzmatazz-axolotl
  QC.Uni:
    repos:
      github.com/grycap/apricotlab pytest:
        commands:
        - /usr/bin/env sh .sqa/script.nippy-zucchini-angelfish.sh
        container: qc.uni_lumpy-goldenrod-corgi
  QC.Ver:
    repos:
      github.com/grycap/apricotlab get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-linen-ladybird.sh
        container: qc.ver_bluesy-tomato-paradise
timeout: 5400
